ConsoleApp3/Connected Services/DbServiceReference/WcfServiceLibrary1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDbClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DbClass" nillable="true" type="tns:DbClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDbClass" nillable="true" type="tns:ArrayOfDbClass" />
  <xs:complexType name="DbClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="STableCatalog" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STableName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STableScheme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STableType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DbClass" nillable="true" type="tns:DbClass" />
</xs:schema>