ConsoleApp1/Connected Services/AddService/WcfServiceLibrary4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary4" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfDataDesc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataDesc" nillable="true" type="tns:DataDesc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataDesc" nillable="true" type="tns:ArrayOfDataDesc" />
  <xs:complexType name="DataDesc">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="DataDesc" nillable="true" type="tns:DataDesc" />
</xs:schema>