ConsoleApp275/Connected Services/MathServiceReference/WcfServiceLibrary12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary12" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary12" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDBTables">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DBTables" nillable="true" type="tns:DBTables" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDBTables" nillable="true" type="tns:ArrayOfDBTables" />
  <xs:complexType name="DBTables">
    <xs:sequence>
      <xs:element minOccurs="0" name="STABLECATALOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STABLENAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STABLESCHEMA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STABLETYPE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DBTables" nillable="true" type="tns:DBTables" />
</xs:schema>