ProductStore/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProductWCFServices.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProductWCFServices.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SProduct" nillable="true" type="tns:SProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSProduct" nillable="true" type="tns:ArrayOfSProduct" />
  <xs:complexType name="SProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="SColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFGF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SLP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SMF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SPID" type="xs:int" />
      <xs:element minOccurs="0" name="SPNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SROP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSSL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SProduct" nillable="true" type="tns:SProduct" />
</xs:schema>